<ion-content padding>
  <div class="spacer-vertical-4"></div>
  <img src="assets/imgs/text-logo-white.png" />
  <div class="spacer-vertical-2"></div>
  <div class="login-init-message" *ngIf="initializing">
    <div class="spacer-vertical-2"></div>
    <h4>Setting things up...</h4>
    <div class="spacer-vertical"></div>
    <ion-spinner></ion-spinner>
  </div>
  <div class="login-launch-message" *ngIf="launching">
    <div class="spacer-vertical-2"></div>
    <h4>Launching...</h4>
    <div class="spacer-vertical"></div>
    <ion-spinner></ion-spinner>
  </div>
  <p *ngIf="!initializing && initializationError">Sorry, there was an error initializing the SDK. {{ initializationError }}</p>
  <div *ngIf="!initializing && !launching && !initializationError">
    <div *ngIf="!loggedIn">
      <ion-list class="login-item-list">
        <ion-item>
          <ion-input color="light" type="text" placeholder="Your username" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input color="light" type="password" placeholder="Your password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <button ion-button block color="light-primary" (click)="login()">Login</button>
        <button ion-button block color="primary" (click)="recover()">I forgot my password</button>
      </ion-list>
    </div>

  </div>
</ion-content>