page-login {
  ion-content {
    background-image: url(../assets/imgs/sphere-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login-form-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-form {
    width: 300px;
    max-width: 80vw;
    text-align: center;
  }
}