<div class="users-list">
  <div class="user" *ngFor="let user of users.slice(0, maxSlice)" navPush="UserPage" [navParams]="getNavParams(user)">
    <img class="user-image" [src]="user.photoUrl" />
    <div class="user-title">{{user.firstName}} {{user.lastName}}</div>
    <div class="user-subtitle">{{user.title}}</div>
  </div>
  <ion-infinite-scroll [enabled]="users.length > maxSlice" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
  