<div class="users-list">
  <div class="user" *ngFor="let user of users.slice(0, maxSlice)" [navPush]="pushPage" [navParams]="getNavParams(user)">
    <img class="user-image" [src]="user.photoUrl"/>
    <div class="user-title">{{user.firstName}} {{user.lastName}}</div>
    <div class="user-subtitle">{{user.title}}</div>
  </div>

  <div class="no-users-message" *ngIf="users.length === 0 && !loading">
    <p>No users found, don't be sad though. We're still growing. Help us grow by inviting your friends.</p>
    <a href="sms:?&body=Join me on Government Connect!">
      <button ion-button block color="primary">Invite colleagues</button>
    </a>
  </div>

  <ion-infinite-scroll [enabled]="users.length > maxSlice" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
