<ion-header>
  <ion-navbar>
    <ion-title>Edit profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner name="bubbles" *ngIf="!user"></ion-spinner>

  <ng-container *ngIf="user">

    <div class="user">
      <div class="user-page-header">
        <div class="user-page-header-inner">
          <div class="user-page-header-image-container">
            <img class="user-page-header-image" [src]="user.photoUrl"/>

            <button (click)="updateUserPhoto()" class="button-change-image">
              change
            </button>
          </div>

          <div class="user-page-header-body">
            <div class="user-page-header-title">{{ user.firstName }} {{ user.lastName }}</div>
            <div class="user-page-header-subtitle-primary">{{ user.title }}</div>
            <div class="user-page-header-subtitle-secondary">{{ user.agency }}</div>
          </div>
        </div>
      </div>

      <button ion-button clear (click)="editUser()">
        Edit info
      </button>
    </div>

    <div class="edit-user-form">
      <ion-list>
        <ion-item>
          <ion-label>First Name</ion-label>
          <ion-input placeholder="First name" [(ngModel)]="user.firstName" [disabled]="readonly"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Last Name</ion-label>
          <ion-input placeholder="First name" [(ngModel)]="user.lastName" [disabled]="readonly"></ion-input>
        </ion-item>

        <ion-item *ngIf="user.privateData">
          <ion-label>Email</ion-label>
          <ion-input placeholder="Email" [(ngModel)]="user.privateData.email" [disabled]="readonly"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Agency</ion-label>
          <ion-input placeholder="Agency" [(ngModel)]="user.agency" [disabled]="readonly"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Title</ion-label>
          <ion-input placeholder="Title" [(ngModel)]="user.title" [disabled]="readonly"></ion-input>
        </ion-item>

      </ion-list>
    </div>

    <div class="button-wrapper" *ngIf="!readonly">
      <button (click)="updateUserDetails()" ion-button block>
        Save changes
      </button>
    </div>
  </ng-container>


</ion-content>
