page-user-profile {
  .user {
    padding: 20px 40px 0;
    border: 0;
    align-items: flex-start;

    .button-clear {
      margin: 0;
      padding: 0;
      font-size: 14px;
    }
  }

  .spinner {
    margin: 0 auto;
    display: block;
  }
}

.user-page-header-image-container {
  position: relative;
  overflow: hidden;
  width: 90px;
  height: 90px;
  border-radius: 50%;

  .user-page-header-image {
    margin: 0;
  }
}

.user {
  .user-page-header {
    min-height: 90px;
    margin: 0 0 20px;
  }
  .user-page-header-inner {
    padding: 0;
  }

  .user-page-header-body {
    padding-left: 20px;
  }
}

.edit-user-form {
  background: rgba(#D8D8D8, 0.24);
  padding: 3px 40px;
  margin: 0 0 20px;

  .list-ios {
    margin: 0;
  }

  .item {
    .input-wrapper {
      justify-content: center;
    }

    .input,
    .label {
      color: #4A90E2;
      font-size: 14px;
    }

    ion-input.input {
      margin: 0;
      align-items: flex-end;
      flex: 2;

      input {
        text-align: right;
        background: none;
      }
    }

    .label {
      margin: 0;
      padding: 0;
      flex: 1;
    }
  }
}

.button-wrapper {
  padding: 0 40px;
}

