<ion-header>
  <ion-navbar>
    <ion-title>
      Government Connect
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p *ngIf="initializing">Initializing CometChat...</p>
  <p *ngIf="!initializing && initializationError">Sorry, there was an error initializing the SDK. {{ initializationError }}</p>
  <div *ngIf="!initializing && !initializationError">
    <div *ngIf="!loggedIn">
      <ion-input type="text" placeholder="Enter your Government Connect username" [(ngModel)]="username"></ion-input>
      <ion-input type="password" placeholder="Enter your Government Connect password" [(ngModel)]="password"></ion-input>
      <button ion-button block color="primary" (click)="login()">Login</button>
    </div>
    <div *ngIf="loggedIn">
    <p>Welcome to the beginnings of the Government Connect app. Press the button below to launch the UI (it can take a second or so...)</p>
    <button ion-button block color="primary" (click)="launchCometChat()">Launch Comet Chat UI</button>
    </div>
  </div>
</ion-content>

