page-chat-user {
  .toolbar {
    .title {
      padding-left: 60px;
    }

    .toolbar-title {
      text-align: left;
    }
  }

  .toolbar-title {
    color: #2A2A30;
    font-size: 1.4rem;
    font-weight: 400;

    .sub-title {
      color: #828393;
      display: block;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 20px;
    }
  }

  .chat-avatar {
    display: inline-block;
    width: 33px;
    height: 33px;
    overflow: hidden;
    margin-right: 14px;

    img {
      width: 33px;
      height: 33px;
    }
  }

  .upload-file {
    opacity: 0;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

.chat-messages {
  padding-top: 20px;

  .item {
    margin: 0 0 20px;
  }

  .label {
    margin: 0;
    padding: 12px 0 0;
  }

  .list-header {
    text-align: center;
    margin: 26px 0 16px;

    .label {
      font-weight: 400;
      font-size: 10px;
      color: #BBBCCD;
      letter-spacing: 1px;
    }
  }
}

.chat-bubble {
  position: relative;
  max-width: 80%;
  margin-left: 6px;

  &.me {
    float: right;
    margin-right: 6px;
    margin-left: 0;

    .chat-bubble-inner {
      background: #4A90E2;

      &,
      h3 {
        color: #fff;
      }

      .note {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .tail {
      background: url(/assets/svg/tail-me.svg);
      right: -6px;
      left: auto;
    }

    .chat-message-file {
      .chat-file-icon {
        background-image: url(/assets/svg/document-white.svg);
      }

      a {
        color: #fff;
      }
    }

    .check-icons {
      svg {
        * {
          stroke: #fff;
        }
      }
    }

    .user-char-avatar {
      left: -10px;
      right: auto;
    }
  }

  &.small {
    .chat-bubble-inner {
      .note {
        bottom: 13px;
      }
    }
  }

  &-inner {
    min-width: 220px;
    background: #F2F4F8;
    padding: 20px 20px 25px 20px;
    border-radius: 10px;

    h3 {
      color: #2A2A30;
      font-size: 1.4rem;
      line-height: 2.2rem;
      font-weight: 300;
      margin: 0;
      padding: 0;
      word-break: break-all;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
      }
    }

    .note {
      position: absolute;
      right: 15px;
      bottom: 15px;
      font-weight: 400;
      font-size: 1rem;
      color: #BBBCCD;
      margin: 0;
    }
  }

  .check-icons {
    display: inline-block;
    margin-left: 4px;

    svg {
      &.second {
        margin-left: -6px;
      }

      * {
        stroke: #2A2A30;
      }
    }
  }

  .tail {
    background: url(../../assets/svg/tail-you.svg);
    width: 12px;
    height: 9px;
    position: absolute;
    bottom: 0;
    left: -6px;
  }

  .chat-message-image {
    width: 180px;
    max-height: 180px;
    overflow: hidden;
    margin: 0 0 5px;
  }

  .chat-message-file {
    position: relative;
    padding-left: 30px;
    min-height: 24px;

    .chat-file-icon {
      background-image: url(/assets/svg/document.svg);
      background-repeat: no-repeat;
      -webkit-background-size: 24px 24px;
      background-size: 24px 24px;
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      top: 0;
    }

    a {
      text-decoration: none;
      color: #2A2A30;
    }
  }

  .user-char-avatar {
    width: 24px;
    height: 24px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    background: powderblue;

    img {
      min-height: 24px;
    }
  }
}

.chat-toolbar {
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.04);
  margin: 0;
  padding: 0;
  min-height: 56px;

  .toolbar-background {
    border: 0;
  }

  .toolbar-content {
    padding-left: 80px;
    padding-right: 53px;

    .input {
      margin: 0;

      .text-input {
        margin: 0;
        background-color: #fff;
        border: 0;
        outline: 0;
        padding: 17px 0;
        /* Your message...: */
        font-size: 14px;
        color: #828393;
        line-height: 22px;
        font-weight: 300;
      }
    }
  }

  .bar-buttons {
    position: absolute;

    &[start] {
      left: 15px;
    }

    &[end] {
      right: 20px;
    }
  }
}
