<!--
  Generated template for the ChatUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="user">
      {{ user.firstName }} {{ user.lastName }}
      <span class="sub-title">{{user.status}}</span>
    </ion-title>

    <ion-buttons end *ngIf="user">
      <span class="chat-avatar">
      <img src="{{user.photoUrl}}">
    </span>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding #content>
  <ion-list no-lines class="chat-messages">

    <ion-item text-wrap *ngFor="let message  of messages | async">
      <div class="chat-bubble small" [ngClass]="getClass(message)">
        <div class="chat-bubble-inner">
          <h3 [innerHTML]="message.text"></h3>

          <ion-note>
            {{message.createdAt | amTimeAgo:true}}

            <span class="check-icons">
              <svg width="12px" height="7px" viewBox="0 0 12 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                   xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-333.000000, -303.000000)" stroke="#FFFFFF">
                  <g transform="translate(138.000000, 285.000000)">
                    <g>
                      <g transform="translate(154.000000, 15.000000)">
                        <polyline points="42 7 45 10 52 3"></polyline>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>

              <svg class="second" width="12px" height="7px" viewBox="0 0 12 7" version="1.1"
                   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-333.000000, -303.000000)" stroke="#FFFFFF">
                  <g transform="translate(138.000000, 285.000000)">
                    <g>
                      <g transform="translate(154.000000, 15.000000)">
                        <polyline points="42 7 45 10 52 3"></polyline>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            </span>
          </ion-note>
        </div>

        <span class="tail"></span>
      </div>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer ion-fixed>
  <ion-toolbar class="no-border chat-toolbar" color="white">
    <ion-input [(ngModel)]="message"
               placeholder="Your message..."
               (keypress)="handleTyping($event.keyCode)"
               (ionFocus)="focusOnEnterMessage()"></ion-input>

    <ion-buttons start>
      <button ion-button (click)="addPhoto()">
        <img src="assets/svg/photo.svg">
      </button>

      <button ion-button (click)="addFile()">
        <img src="assets/svg/attach-file.svg">
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button (click)="addMessage()">
        <img src="assets/svg/send.svg">
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
