// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Input Overrides

ion-input.input {
  margin-bottom: 1.5rem;

  input {
    margin: 0;
    padding: 10px;
    background-color: map-get($colors, 'fade');
    width: 100%;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &[color="light"] {
    border-bottom: 2px solid map-get($colors, light);
  }

  &[color="light"] input {
    color: map-get($colors, light);
    
    &::placeholder {
      color: map-get($colors, light);
    }
  }

  &[color="primary"] {
    border-bottom: 2px solid map-get($colors, primary);
  }

  &[color="primary"] input {
    color: map-get($colors, primary);
    
    &::placeholder {
      color: map-get($colors, primary);
    }
  }
}

.item-block {
  min-height: unset;
}

// Item Overrides

.item-ios,
.item-md,
.item-wp {
  background-color: transparent !important;
}

ion-thumbnail img {
  border-radius: 5px;
}

.list-ios .item-input,
.list-md .item-input,
.list-wp .item-input {
  border-bottom: 0 !important;
  border-width: 0 !important;
  box-shadow: none !important;
}

.list-ios .item-inner,
.list-md .item-inner,
.list-wp .item-inner {
  padding: 0 !important;
  border-bottom: 0 !important;
  border-width: 0 !important;
  box-shadow: none !important;
}

.item-ios.item-block .item-inner {
  border-bottom: 0;
}

// Spacers

.spacer-vertical {
  height: 1rem;
  width: 100%;
}

.spacer-horizontal {
  height: 100%;
  width: 1rem;
}

@for $i from 2 through 20 {
  .spacer-vertical-#{$i} { 
    height: 1rem * $i;
    width: 100%;
  }

  .spacer-horizontal-#{$i} {
    height: 100%;
    width: 1rem * $i;
  }
}

// Utilities

.marginless {
  margin: 0 !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

// Fonts

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200; 
  src: url('../assets/fonts/Montserrat-Light.ttf')  format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200; 
  src: url('../assets/fonts/Montserrat-LightItalic.ttf')  format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300; 
  src: url('../assets/fonts/Montserrat-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300; 
  src: url('../assets/fonts/Montserrat-Italic.ttf')  format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400; 
  src: url('../assets/fonts/Montserrat-Medium.ttf')  format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400; 
  src: url('../assets/fonts/Montserrat-MediumItalic.ttf')  format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500; 
  src: url('../assets/fonts/Montserrat-SemiBold.ttf')  format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500; 
  src: url('../assets/fonts/Montserrat-SemiBoldItalic.ttf')  format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600; 
  src: url('../assets/fonts/Montserrat-Bold.ttf')  format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600; 
  src: url('../assets/fonts/Montserrat-BoldItalic.ttf')  format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700; 
  src: url('../assets/fonts/Montserrat-ExtraBold.ttf')  format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700; 
  src: url('../assets/fonts/Montserrat-ExtraBoldItalic.ttf')  format('truetype')
}

// Overrides

button {
  font-weight: 500;
}

ion-spinner[color="light"] {
  stroke: map-get($colors, "light");
}

.swiper-slide {
  font-size: 1.5rem;
}

@mixin generateCustomTabIcon($name) {
  .ion-ios-gc-#{$name}:before,
  .ion-android-gc-#{$name}:before,
  .ion-md-gc-#{$name}:before {
    content: url(../assets/svg/#{$name}-fill-active.svg);
    position: relative;
    top: -5px;
    width: 30px;
    height: 30px;
  }
  
  .ion-ios-gc-#{$name}-outline:before,
  .ion-android-gc-#{$name}-outline:before,
  .ion-md-gc-#{$name}-outline:before {
    content: url(../assets/svg/#{$name}-outline.svg);
    position: relative;
    top: -5px;
    width: 30px;
    height: 30px;
  }

  [aria-selected="false"] .ion-android-gc-#{$name}:before,
  [aria-selected="false"] .ion-md-gc-#{$name}:before {
    content: url(../assets/svg/#{$name}-outline.svg);
    top: 2px;
  }
  
  [aria-selected="true"] .ion-android-gc-#{$name}:before,
  [aria-selected="true"] .ion-md-gc-#{$name}:before {
    content: url(../assets/svg/#{$name}-fill-active.svg);
    top: 2px;
  }
}

@include generateCustomTabIcon(bell);
@include generateCustomTabIcon(message);
@include generateCustomTabIcon(person);
@include generateCustomTabIcon(settings);

.tab-button[aria-selected="true"] {
  background-color: map-get($map: $colors, $key: primary);
}

.enable-hover a:hover {
  opacity: 1;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  transform: translateY(0);
}