<div class="page-modal remove-connection-confirmation" *ngIf="confirmConnectionRemoval">
  <h3>Are you sure?</h3>
  <div class="spacer-vertical-2"></div>
  <button ion-button color="primary" (click)="removeConnection()">Yes, remove user</button>
  <button ion-button outline color="semidark" (click)="confirmConnectionRemoval = false">No, take me back</button>
</div>

<div class="page-modal request-connection" *ngIf="requestConnection">
  <h3>Request <br>Connection</h3>

  <ion-list>
    <ion-item>
      <ion-textarea placeholder="Include a short message" [(ngModel)]="invitationMessage"></ion-textarea>
    </ion-item>
  </ion-list>

  <button ion-button color="primary" (click)="sendInvitation()">Send Request</button>
</div>

<ion-header>
  <ion-navbar>
    <ion-title>Contact</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner name="bubbles" *ngIf="!user"></ion-spinner>

  <ng-container *ngIf="user">
    <div class="user-page-header">
      <div class="user-page-header-inner">
        <img class="user-page-header-image" [src]="user.photoUrl"/>

        <div class="user-page-header-body">
          <div class="user-page-header-title">{{ user.firstName }} {{ user.lastName }}</div>
          <div class="user-page-header-subtitle-primary">{{ user.title }}</div>
          <div class="user-page-header-subtitle-secondary">{{ user.stafferFor }}</div>
        </div>
      </div>
    </div>

    <div class="user-page-body">
      <div class="user-page-body-item">
        <div class="user-page-body-item-title">First Name</div>
        <div class="user-page-body-item-content">{{ user.firstName }}</div>
      </div>
      <div class="user-page-body-item">
        <div class="user-page-body-item-title">Last Name</div>
        <div class="user-page-body-item-content">{{ user.lastName }}</div>
      </div>
      <div class="user-page-body-item" *ngIf="user.email">
        <div class="user-page-body-item-title">Email</div>
        <div class="user-page-body-item-content">{{ user.privateData.email }}</div>
      </div>
      <div class="user-page-body-item">
        <div class="user-page-body-item-title">Agency</div>
        <div class="user-page-body-item-content">{{ user.stafferFor }}</div>
      </div>
      <div class="user-page-body-item">
        <div class="user-page-body-item-title">Title</div>
        <div class="user-page-body-item-content">{{ user.title }}</div>
      </div>
    </div>

    <div class="user-page-actions" padding>

      <ng-container *ngIf="!isConnected">
        <button ion-button full color="primary" *ngIf="invitationStatus=='NONE'"
                (click)="openRequest()">Send Connection Request
        </button>

        <button ion-button block outline color="semidark" *ngIf="invitationStatus=='INVITED'"
                (click)="revokeInvitation()">Cancel Connection Request
        </button>

        <button ion-button block color="primary" *ngIf="invitationStatus=='INVITEE'"
                (click)="acceptInvitation()">Accept Connection Request
        </button>
      </ng-container>

      <ng-container *ngIf="isConnected">
        <button *ngIf="isConnected" ion-button block color="primary" (click)="startChat()" >
          Start Chatting
        </button>
        <button *ngIf="isConnected" ion-button block outline color="semidark"
                (click)="confirmConnectionRemoval = true">
          Remove user
        </button>
      </ng-container>


    </div>


  </ng-container>
</ion-content>
