@import "../../theme/variables.scss";

.notification-block {
  &.no-notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    p {
      margin: -35px 0 0;
      color: #4A4A4A;
    }
  }
}

.notification-block-title {
  color: map-get($map: $colors, $key: primary);
  font-size: 1.2rem;
  font-weight: 500;
}

.notification {
  display: flex;
  flex-direction: column;

  &-inner {
    display: flex;
    align-items: center;
  }
}

.notification-image {
  margin-right: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.notification-body {
  font-size: 1.2rem;
}

.notification-message {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 300;

  b {
    font-weight: 400;
  }
}

.notification-message-time {
  color: map-get($map: $colors, $key: semidark)
}

.notification-actions {
  padding: 5px 0 0;
  margin: 0 0 0 58px;

  button {
    margin: 0 10px 0 0;
    font-size: 12px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
