<ion-header>

  <ion-navbar>
    <ion-title>Group Details</ion-title>

    <ion-buttons end>
      <span class="chat-avatar" *ngIf="group && group.photoUrl">
        <img src="{{group.photoUrl}}">
      </span>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Group Name</ion-label>
      <ion-input [(ngModel)]="group.name" placeholder="Add group name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Group Photo</ion-label>

      <button ion-button clear item-end (click)="uploadPhoto()">Upload Photo</button>
    </ion-item>

  </ion-list>

  <ng-container *ngIf="selectedUsers && selectedUsers.length > 0">
    <group-members [users]="selectedUsers"></group-members>
  </ng-container>


  <div class="btn-wrapper">
    <button ion-button block outline color="primary" navPush="SearchUsersPage"
            [navParams]="{limitOnContacts:true, multiselect: true}">
      Add Users
    </button>

    <button ion-button block *ngIf="selectedUsers && selectedUsers.length > 0" (click)="startChat($event)">
      Start Group Chat
    </button>
  </div>

</ion-content>
