<ion-spinner name="bubbles" *ngIf="loading"></ion-spinner>

<ion-list class="chat-list" *ngIf="channels">

  <ion-item *ngFor="let channel of channels.slice(0, maxSlice)"
            navPush="ChatUserPage"
            [navParams]="getNavParams(channel)">

    <ion-avatar item-start *ngIf="channel">
      <img src="{{ channel.photoUrl }}">
    </ion-avatar>
    <h2 *ngIf="channel">
      {{ channel.name}}
    </h2>
    <p *ngIf="channel">
      {{ channel.status}}
    </p>
    <ion-note item-end>{{channel.lastMessageAt | amTimeAgo}}</ion-note>

  </ion-item>

</ion-list>

<ion-infinite-scroll [enabled]="channels && channels.length > maxSlice" (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
