<ion-list class="chat-list">

  <ion-item navPush="ChatUserPage" *ngFor="let channel of channels">
    <ion-avatar item-start>
      <img src="{{ channel.homologousUser.photoUrl }}">
    </ion-avatar>
    <h2>{{ channel.homologousUser.firstName}} {{ channel.homologousUser.lastName}}</h2>
    <p>{{ channel.homologousUser.status}}</p>
    <ion-note item-end>3:43 pm</ion-note>
  </ion-item>


  <ion-item navPush="ChatUserPage">
    <ion-avatar item-start>
      <img src="../../assets/imgs/temp-user.png">
    </ion-avatar>
    <h2>Eunice Burton</h2>
    <p>My eyeballs could have been sucked from their sockets!</p>
    <ion-note item-end>1:12 pm</ion-note>
  </ion-item>



</ion-list>
