<ion-list class="chat-list">

  <ion-item navPush="ChatUserPage">
    <ion-avatar item-start>
      <img src="../../assets/imgs/temp-user.png">
    </ion-avatar>
    <h2>Leo Lloyd</h2>
    <p>This town ain't big enough for the two of us!</p>
    <ion-note item-end>3:43 pm</ion-note>
  </ion-item>

  <ion-item>
    <ion-avatar item-start>
      <img src="../../assets/imgs/temp-user.png">
    </ion-avatar>
    <h2>Eunice Burton</h2>
    <p>My eyeballs could have been sucked from their sockets!</p>
    <ion-note item-end>1:12 pm</ion-note>
  </ion-item>

  <ion-item>
    <ion-avatar item-start>
      <img src="../../assets/imgs/temp-user.png">
    </ion-avatar>
    <h2>Jessie</h2>
    <p>Well aren't you just the sweetest space toy I ever did meet!</p>
    <ion-note item-end>10:03 am</ion-note>
  </ion-item>

  <ion-item>
    <ion-avatar item-start>
      <img src="../../assets/imgs/temp-user.png">
    </ion-avatar>
    <h2>Caroline Anderson</h2>
    <p>You're not turning me into a Mashed Potato.</p>
    <ion-note item-end>5:47 am</ion-note>
  </ion-item>

  <ion-item>
    <ion-avatar item-start>
      <img src="../../assets/imgs/temp-user.png">
    </ion-avatar>
    <h2>Caroline Anderson</h2>
    <p>You're not turning me into a Mashed Potato.</p>
    <ion-note item-end>5:47 am</ion-note>
  </ion-item>

  <ion-item>
    <ion-avatar item-start>
      <img src="../../assets/imgs/temp-user.png">
    </ion-avatar>
    <h2>Caroline Anderson</h2>
    <p>You're not turning me into a Mashed Potato.</p>
    <ion-note item-end>5:47 am</ion-note>
  </ion-item>

</ion-list>
